@import "tailwindcss";


:root {
  --background: #f0f0f0;
  --foreground: #333333;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('/background-home-desktop.jpg');
  background-size: cover;
  background-position: center;
  min-height: 80vh;


}
