@import "tailwindcss";


:root {
  --background: #f0f0f0;
  --foreground: #333333;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;

}

.wrapper {
  background-image: url('/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}



.wrapper-destination {
  background-image: url('/destination/background-destination-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper-destination-tablet {
  background-image: url('/destination/background-destination-tablet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


.wrapper-crew {
  background-image: url('/crew/background-crew-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.wrapper-tech{
  background-image: url('/technology/background-technology-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


@media (max-width: 767px) {
  .wrapper {
    background-image: url('/background-home-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
}